<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" value="%d %p (%X{user}) [%c{1}] %m%n"/> </layout>
  </appender>
<appender name="appender" class="org.apache.log4j.RollingFileAppender">
   <param name="File" value="../delivery-console.log"/>
   <param name="Append" value="true" />
   <param name="MaxFileSize" value="10MB" />
   <param name="MaxBackupIndex" value="10" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %p (%X{user}) [%c{1}] %m%n"/>
    </layout>
  </appender>	  
  <category name="org.apache.wicket" >
    <priority value="error" />
  </category>  
  <root>
    <priority value ="info" />
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="appender"/>
  </root>
</log4j:configuration> 
